body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(167, 159, 125);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-size: 44px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.cell:hover {
  background-color: #e0e0e0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#result {
  margin-top: 20px;
  font-size: 34px;
  color: green;
}

button {
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  width: 265px;
}

#restart-game {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

#restart-game:hover {
  background-color: #45a049;
}

#back-to-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

#back-to-menu:hover {
  background-color: #ddd;
}

#game-start {
  display: block;
}